*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    height: 100vh;
    width: calc(100vw);
    background-image: linear-gradient(90deg, #e11,#ee1,#1e1,#1ee,#11e,#e1e,
    #e11,#ee1,#1e1,#1ee,#11e,#e1e,#e11);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 0%;
    animation: animation_background 2.5s linear infinite;
    color: #181818;
    --fundo: #e0e0c0;
    --cor_menu: #181818;
    --sombra_menu: #303030
}
:root.darkmode{
    color: #c8c8c8;
    --fundo: #000018;
    --cor_menu: #c8c8c8;
    --sombra_menu: #c0c0c0;
}
@keyframes animation_background {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}
body{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--fundo),var(--fundo));
    transition: 1s;
}
body.rgb{
    background-image: linear-gradient(var(--fundo) 97%,#0000);
}
.coluna1{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
}
.coluna1 .foto_perfil{
    height: 15rem;
    border-radius: 75%;
    box-shadow: 0 0 0.5rem var(--sombra_menu);
}
.coluna1 .links{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    list-style:none;
    width: 75%;
    height: calc(3rem*5.5);
}
.links .menu,.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 3rem;
    color: var(--cor_menu);
    text-decoration: none;
}
.menu:hover{
    cursor: pointer;
}
.menu .icon:not(.darkmode_btn){
    height: 1.75rem;
    width: 1.75rem;
    rotate: 0;
    transition: 1s;
}
.menu p{
    padding-left: 0.5rem;
    font-size: 1.75rem;
    transition: 1s;
}
.menu:hover .icon:not(.darkmode_btn){
    height: 2.25rem;
    width: 2.25rem;
    rotate: 0;
    filter: drop-shadow(0 0 1rem var(--sombra_menu));
    transition: 1s;
}
.menu:hover p{
    font-size: 2.25rem;
    filter: drop-shadow(0 0 1rem var(--sombra_menu));
    transition: 1s;
}
.darkmode_btn{
    height: 0;
    width: 0;
    rotate: 180deg;
    transition: 1s;
}
.coluna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    height: 100%;
}
.coluna2 .titulo{
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid var(--cor_menu);
    margin-bottom: 1rem;
}
.titulo h1{
    font-size: 3.5rem;
}
.titulo h2{
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conteudo ul{
    list-style: none;
}
.conteudo h3{
    font-size: 1.375rem;
    margin-bottom: 0.25rem;
}
.conteudo ul{
    margin-bottom: 1rem;
}
.conteudo p:nth-child(1){
    margin-left: 1rem;
}
.conteudo p:nth-child(2){
    margin-left: 2rem;
}