* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    height: 100vh;
    width: 100vw;
    color: #e0e0e0;
    --fundo: #101020;
    --cor_menu: #e0e0e0;
    --sombra_menu: #c0c0c0;
}

:root.darkmode {
    color: #101010;
    --fundo: #e0e0c0;
    --cor_menu: #101010;
    --sombra_menu: #303030
}

body {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--fundo);
}

a {
    color: var(--cor_menu);
    text-decoration: none;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 20%;
}

.foto_perfil {
    height: 40%;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem var(--sombra_menu);
}

/*.links = lista não ordenada
.menu = itens da lista não ordenada*/
.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    list-style: none;
    width: 90%;
    height: 40%;
}

.menu,
.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: calc(100%/7);
}

.menu .icon:not(.darkmode_btn) {
    height: 1.5rem;
    width: 1.5rem;
    rotate: 0deg;
    transition: 1s;
}

.menu:hover .icon:not(.darkmode_btn) {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(0 0 1rem var(--sombra_menu));
    transition: 1s;
}

.menu p {
    margin-left: 0.25rem;
    word-wrap: break-word;
    max-width: calc(100% - 1.5rem);
    font-size: 1.5em;
    transition: 1s;
}

.menu:hover p {
    font-size: 1.75rem;
    max-width: calc(100% - 2rem);
    filter: drop-shadow(0 0 1rem var(--sombra_menu));
    transition: 1s;
}

.darkmode_btn {
    width: 0px;
    height: 0px;
    opacity: 0;
    rotate: 180deg;
    transition: 1s;
}

.coluna2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 80%;
}

.coluna2 .titulo {
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid var(--cor_menu);
}

.coluna2 h1 {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;

}

.coluna2 .titulo h2 {
    font-size: 1.375rem;
}

.coluna2 ul {
    list-style-type: none;
}

.coluna2 ul li p:nth-child(2) {
    margin: 0 0 1rem 2rem;
}

.coluna2 p {
    height: auto;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}